@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    min-height: 100%;
    color: v.$snow;
    background-color: v.$white_blue;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}