// Fuentes
$fuente_principal: "SUSE", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$background: #16161a;
$black: #010101;
$snow: #fffffe;
$medium_slate_blue: #7f5af0;
$medium_sea_green: #2cb67d;
$dark_gray: #94a1b2;
$gray: #72757e;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;