@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor {
  max-width: 40%; // ancho máximo 
  margin: 0 auto; // centrado horizontal
  margin-top: 5rem;

  h1 {
    color: v.$principal;
  }

  .tareas {
    margin-top: 5rem;
    justify-content: space-between;


    .formulario {
      display: flex;
      gap: 1rem; // separación entre elementos

      .nueva-tarea {
        width: 85%;
        border: none;
        background-color: color.adjust(v.$white_blue, $lightness: -5%);
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: .5rem;

        &::placeholder {
          color: v.$gray;
        }

      }

      .boton {
        flex: 1; // ocupa todo el espacio disponible
        border: none;
        width: 4rem;
        border-radius: .5rem;
        background-color: v.$principal;
      }
    }

    .contenedor-tareas {
      margin-top: 5rem;

      .listado {
        padding: 0;
        margin: 0;

        li {
          list-style: none;

          .estado {
            display: flex; // Asegura que los elementos se alineen en línea
            align-items: center; // Centra verticalmente
            gap: 1rem; // Espacio entre el checkbox y el label
            background-color: color.adjust(v.$white_blue, $lightness: -5%);
            margin-top: 1rem;
            border-radius: .5rem;
            padding: .8rem 1rem;

            input[type="checkbox"] {
              appearance: none; // Elimina el estilo predeterminado
            }

            input[type="checkbox"]+label {
              display: inline-flex; // Asegura que el label se alinee con el checkbox
              align-items: center; // Centra verticalmente
              font-size: 2rem; // Tamaño del texto del label
              color: v.$black; // Color del texto
              margin: 0; // Elimina el margen
            }

            input[type="checkbox"]+label::before {
              content: ""; // El símbolo del check
              height: 15px; // Tamaño del círculo contenedor
              width: 15px; // Tamaño del círculo contenedor
              line-height: 15px; // Igual al height para centrar verticalmente
              display: inline-flex; // Flexbox para centrar
              // align-items: center; // Centrado vertical
              text-align: center; // Asegura el centrado del texto
              margin-right: 1rem; // Espaciado entre el círculo y el texto del label
              cursor: pointer; // Cambia el cursor al pasar por encima
              border: 2px solid v.$gray; // Borde del checkbox
              border-radius: 50%; // Forma circular
              background: white; // Fondo blanco
              background-color: transparent; // Punto invisible inicialmente
            }

            input[type="checkbox"]:checked+label::before {
              border-color: v.$principal; // Cambia el color del borde al seleccionar
              background-color: v.$principal; // Hace visible el punto cuando está seleccionado
            }
          }
        }
      }
    }
  }

  .contenedor-estados {
    text-align: center;

    span {
      color: v.$black;
    }
  }


  footer {
    text-align: center;
    margin-top: 5rem;

    p {
      color: black;
    }
  }
}